.services__discribe {
    display: flex;
    flex-direction: column;
}

.services__discribe-photo {
    height: 70px;
    width: auto;
    border-radius: 50%;
}

.services__discribe-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.services__text-main {
    font-size: 1.25rem;
    font-weight: 600;
}

.services__text-add {
    color: var(--text-main-color);
    font-weight: 400;
    font-size: 1rem;
}

.services__cards-iteam-logo1 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-lips.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo2 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-tooth-energy.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo3 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-tooth-happy.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo4 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-tooth-cloud.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo5 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-tooth-energy.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo6 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-braces.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo7 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-two-tooth.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.services__cards-iteam-logo8 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url(../img/logo-jaw.svg);
    background-color: var(--background-color-logo);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}