<div class="before-after">
    <h2>— Before and After</h2>
    <h3>Results of Our Professional Work.</h3>
    <p class="text-gray-bold">We create beautiful and snow-white smiles for our clients.</p>
    <div class="before-after__smile">
        <img width="100" src="img/tooth-work.jpg" alt="smile">
        <p>Teeth Whitening by <span>Dr. Sam Jackson</span></p>
 </div>
 <div class="before-after__smile">
    <img width="100" src="img/tooth-work-next.jpg" alt="smile">
    <p>Teeth Whitening by <span>Dr. Samantha Morrison</span></p>
</div>
<h6>Meet Our Insurance Providers.</h6>
<div class="before-after__providers">
<img width="50" src="img/logo-health-net.svg" alt="logo health net">   
<img width="50" src="img/logo-create-american.svg" alt="logo create american"> 
<img width="50" src="img/logo-emblem-health.svg" alt="logo emblem health">
<img width="50" src="img/logo-ghealth.svg" alt="logo Ghealth">
</div>
</div>