<div class="callback">
    <div class="callback__contact-us">
        <h5>Have a Dental Problem?</h5>
        <p>Write us at
            <a href="mailto:pearldental@email.com">pearldental@email.com</a> or make an appointment.
        </p>
        <button>Contact Us</button>
    </div>
    <div class="callback__form">
        <h2>— Callback</h2>
        <h5>Want a Perfect Smile?</h5>
        <p>Complete the form below and get a free initial consultation!</p>
        <form action="" class="callback__form-fields">
            <input type="text" placeholder="Your name*" required>
            <input type="tel" id="phone" placeholder="Phone number*" required>
            <button type="submit">Request a Callback</button>
        </form>
    </div>
</div>