<div class="news-articles">
    <h2>
        — News and Articles
    </h2>
    <h3>
        Everything You Need to Know About Teeth.
    </h3>
    <p class="text-gray-bold">Learn more about dental care and your teeth.</p>
    <section class="news-articles__cards">
        <img class="news-articles__cards-photo" src="../img/photo-hands.jpg" alt="hands hold dental device">
        <h6>
            Brushing Is a Team Sport
        </h6>
        <p class="news-articles__text">Many parents think that their babies' teeth don’t need any care because they will
            later be
            replaced with
            molars. They don't know that it may result...</p>
        <button class="button-orange ">Read More</button>
    </section>
    </section>
    <section class="news-articles__cards">
        <img class="news-articles__cards-photo" src="../img/photo-dentist-work_iteam.jpg" alt="dentist work">
        <h6>
            Smoking, Vaping, and Dental Care
        </h6>
        <p class="news-articles__text">Everybody knows about the pernicious effects of tobacco on oral and overall
            health but the
            majority of people continue smoking and vapin...</p>
        <button class="button-orange ">Read More</button>
    </section>
    <section class="news-articles__cards">
        <img class="news-articles__cards-photo" src="../img/photo-jaw.jpg" alt="artificial jaw">
        <h6>
            Time to Put on Dental Braces
        </h6>
        <p class="news-articles__text">The best time to put on braces is when the permanent teeth have mostly come in,
            usually
            around age 8 to 14. However, the exact timing...</p>
        <button class="button-orange ">Read More</button>
</div>