<div class="services">
    <div class="services__text">
        <h2>— Our Services</h2>
         <h3>We Provide High-Quality Services to Families.</h3>
        <img class="services__photo" width="100" src="img/photo-dentist.png" alt="dentist">
        <p class="services__text-little">Find Your Perfect Dentist
            <span class="text-gray">Contact us to schedule your firts visit to our clinic.</span>
        </p>
    </div>
    <div class="services__list">
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-lips.svg" alt="lips">
            <a class="services__list-iteam-link" href="#">
                Cosmetic Dentistry <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Improve the appearance of teeth, gums and/or bite.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-tooth.svg" alt="tooth">
            <a class="services__list-iteam-link" href="#">
            
                Emergency Dental Care <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Emergency dental care in acute situations.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-tooth-happy.svg" alt="tooth happy">
            <a class="services__list-iteam-link" href="#">
                Pediatric Dentistry <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Baby teeth filling and extraction, correction, etc.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-tooth-cloud.svg" alt="tooth and cloud">
            <a class="services__list-iteam-link" href="#">
                Hygiene Services <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Our dentists offer professional oral hygiene.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-tooth-energy.svg" alt="tooth and energy">
            <a class="services__list-iteam-link" href="#">
                Preventive Services <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Oral exam, teeth cleaning, and routine X-rays.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-braces.svg" alt="braces">
            <a class="services__list-iteam-link" href="#">
                Dental Braces <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Align and straighten teeth and position them correctly.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-two-tooth.svg" alt="two tooth">
            <a class="services__list-iteam-link" href="#">
                Gum Care <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Scaling and root planning, as well as cleaning teeth roots.</p>
        </div>
        <div class="services__list-iteam">
            <img class="services__list-iteam-logo" width="50" src="img/logo-jaw.svg" alt="jaw">
            <a class="services__list-iteam-link" href="#">
                Bite Correction<span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Our experts bring your bite back into alignment.</p>
        </div>
<p class="text-gray-bold">Want a beautiful and healthy smile? <a class="services__low-text-link" href="#">Plan your appointment</a> now.</p>
    </div>
</div>