<div class="services">
    <div class="services__main">
        <div class="services__main-title">
            <h2>— Our Services</h2>
             <h3>We Provide High-Quality Services to Families.</h3>
        </div>
        <div class="services__main-text ">
            <div class="services__photo"><img src="img/photo-dentist.png" alt="dentist"></div>
            <p class="services__text">Find Your Perfect Dentist
                <span class="services__text-gray">Contact us to schedule your firts visit to our clinic.</span>
            </p>
        </div>
    </div>
    <div class="services__list">
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo1"></div>
            <a class="services__list-iteam-link" href="#">
                Cosmetic Dentistry <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Improve the appearance of teeth, gums and/or bite.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo2"></div>
            <a class="services__list-iteam-link" href="#">
            
                Emergency Dental Care <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Emergency dental care in acute situations.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo3"></div>
            <a class="services__list-iteam-link" href="#">
                Pediatric Dentistry <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Baby teeth filling and extraction, correction, etc.</p>
        </div>
        <div class="services__list-iteam">  
            <div class="services__list-iteam-logo4"></div>
            <a class="services__list-iteam-link" href="#">
                Hygiene Services <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Our dentists offer professional oral hygiene.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo5"></div>
            <a class="services__list-iteam-link" href="#">
                Preventive Services <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Oral exam, teeth cleaning, and routine X-rays.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo6"></div>
            <a class="services__list-iteam-link" href="#">
                Dental Braces <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Align and straighten teeth and position them correctly.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo7"></div>
            <a class="services__list-iteam-link" href="#">
                Gum Care <span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Scaling and root planning, as well as cleaning teeth roots.</p>
        </div>
        <div class="services__list-iteam">
            <div class="services__list-iteam-logo8"></div>
            <a class="services__list-iteam-link" href="#">
                Bite Correction<span class="services__list-iteam-arrow">→</span></a>
            <div class="services__list-iteam-dash"></div>
            <p class="text-gray">Our experts bring your bite back into alignment.</p>
        </div>
<p class="text-gray-bold">Want a beautiful and healthy smile? <a class="services__low-text-link" href="#">Plan your appointment</a> now.</p>
    </div>
</div>