<div class="special-offer">
    <h2>— Special Offers</h2>
    <h3>Special Offers of The Month.</h3>
    <p class="text-gray-bold">Get advantage of our special offers and discounts.</p>
    <div class="special-offer__iteam">
        <img width="100" src="img/photo-dentist-patient.jpg" alt="dentict and patient">
        <h4 class="special-offer__iteam-title">My First Visit — 15% Off</h4>
        <p class="text-gray">Make your first visit to our clinic even more enjoyable with an additional 15% discount. No
            stress for you or
            your budget!</p>
        <p>— Scheduled dental checkup; — Recommendations for dental care.</p>
        <button class="orange-button--request">Request Now</button>
    </div>
    <div class="special-offer__iteam">
        <img width="100" src="img/dental-implans.jpg" alt="dental implans">
        <h4 class="special-offer__iteam-title">Discounts on Dental Implants</h4>
        <p class="text-gray">We understand that dental implants can be a significant expense. That’s why we provide a
            variety of discounts on our implants.
            We offer discounts ranging from 10% to 20%, depending on the type and number of implants.</p>
        <button class="orange-button--request">Request Now</button>
    </div>
    <div class="special-offer__iteam">
        <h5>
            Extra Offers
        </h5>
        <div class="special-offer-dash"></div>
        <p class="text-gray">Don't miss the chance to take advantage of our limited time offers! Learn more about them
            below:</p>
        <ul>
            <li>My First Dentist — 10% Off</li>
            <li>A Healthy Mouth — Healthy Life</li>
            <li>10% Discount for Teeth Whitening</li>
            <li>Month of Dental Checkups</li>
        </ul>
        <p>* Click on each offer for details. Offers are limited in time and cannot be combined with other discounts.
        </p>
    </div>
</div>