<div class="steps">
    <h2>— Steps</h2>
    <h3>Committed to Build a Safe, Patient-Focused Culture.</h3>
    <p class="text-gray-bold">Just four steps to your perfect healthy smile.</p>
    <div class="steps-iteam">
        <img width="50" style="background-color: orangered;" class="steps__logo" src="img/logo-planning.svg" alt="tooth in phone">
        <h6>Planning</h6>
        <p class="text-gray">Plan your visit to Pearl Dental online.</p>
    </div>
    <div class="steps-iteam">
        <img width="50" class="steps__logo" src="img/logo-visit.svg" alt="tooth in notebook">
        <h6>Visit</h6>
        <p class="text-gray">Come for an initial teeth examination.</p>
    </div>
    <div class="steps-iteam">
        <img width="50" class="steps__logo" src="img/logo-treatment.svg" alt="tooth on hospital">
        <h6>Treatment</h6>
        <p class="text-gray">Our clinic provides a variety of services.</p>
    </div>
    <div class="steps-iteam">
        <img width="50" class="steps__logo" src="img/logo-dental-care.svg" alt="tooth in hahds">
        <h6>Dental Care</h6>
        <p class="text-gray">Get recommendations for further dental care.</p>
    </div>
    <div class="steps__consultation">
    <img width="50" style="background-color: aqua;" src="/img/logo-phone.svg" alt="tooth and phone">
    <h5>Book a Consultation Now.</h5>
    <p>Write us on</p>
    <a href="mailto:pearldental@email.com"> pearldental@email.com</a>
     <p>or call us</p>
     <a href="tel: +12345678900"> +1 (234) 567 89 00</a>
     <p>The initial consultation is free of charge.</p>
     <button class="orange-button">Our Dentists</button>
     <button>Book Now</button>
    </div>
</div>