<div class="testimonials">
    <div class="testimonials__text">
        <h2>— Testimonials</h2>
        <h3>What Our Lovely Clients Say.</h3>
        <ul>We have become one of the best dental clinics in New York because:
            <li>
                <svg class="testimonials__plus" width="30" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                    viewBox="0 0 335.975 335.974" enable-background="new 0 0 335.975 335.974" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g style="" fill="currentColor">
                        <path fill="currentColor"
                            d="M167.987,0C75.21,0,0,75.21,0,167.987c0,92.777,75.21,167.987,167.987,167.987   s167.987-75.21,167.987-167.987C335.975,75.21,260.765,0,167.987,0z M250.414,172.08c0,7.954-6.451,14.404-14.405,14.404h-49.524   v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523   c-7.956,0-14.406-6.45-14.406-14.404v-8.184c0-7.955,6.45-14.405,14.406-14.405h44.523V99.966c0-7.956,6.451-14.404,14.405-14.404   h8.184c7.954,0,14.405,6.448,14.405,14.404v49.524h49.524c7.954,0,14.405,6.451,14.405,14.405V172.08z"
                            style=""></path>
                        <g style="" fill="currentColor">
                            <path
                                d="M93.348,180.57l-0.014,0.003l0.098,0.109C93.404,180.645,93.376,180.608,93.348,180.57z"
                                style="" fill="currentColor"></path>
                            <path
                                d="M245.673,153.215l-0.02,0.003c2.917,2.636,4.761,6.437,4.761,10.677v8.184c0,7.954-6.451,14.404-14.405,14.404h-49.524    v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523    c-3.798,0-7.243-1.481-9.817-3.884l128.786,143.818c47.828-16.89,85.715-54.817,102.55-102.672L245.673,153.215z"
                                style="" fill="currentColor"></path>
                        </g>
                    </g>
                </svg>
                <p>Our staff is highly trained;</p>
            </li>
            <li>
                <svg class="testimonials__plus" width="30" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                    viewBox="0 0 335.975 335.974" enable-background="new 0 0 335.975 335.974" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g style="" fill="currentColor">
                        <path fill="currentColor"
                            d="M167.987,0C75.21,0,0,75.21,0,167.987c0,92.777,75.21,167.987,167.987,167.987   s167.987-75.21,167.987-167.987C335.975,75.21,260.765,0,167.987,0z M250.414,172.08c0,7.954-6.451,14.404-14.405,14.404h-49.524   v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523   c-7.956,0-14.406-6.45-14.406-14.404v-8.184c0-7.955,6.45-14.405,14.406-14.405h44.523V99.966c0-7.956,6.451-14.404,14.405-14.404   h8.184c7.954,0,14.405,6.448,14.405,14.404v49.524h49.524c7.954,0,14.405,6.451,14.405,14.405V172.08z"
                            style=""></path>
                        <g style="" fill="currentColor">
                            <path
                                d="M93.348,180.57l-0.014,0.003l0.098,0.109C93.404,180.645,93.376,180.608,93.348,180.57z"
                                style="" fill="currentColor"></path>
                            <path
                                d="M245.673,153.215l-0.02,0.003c2.917,2.636,4.761,6.437,4.761,10.677v8.184c0,7.954-6.451,14.404-14.405,14.404h-49.524    v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523    c-3.798,0-7.243-1.481-9.817-3.884l128.786,143.818c47.828-16.89,85.715-54.817,102.55-102.672L245.673,153.215z"
                                style="" fill="currentColor"></path>
                        </g>
                    </g>
                </svg>
                <p>We work with the best materials;</p>
            </li>
            <li>
                <svg class="testimonials__plus" width="30" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                    viewBox="0 0 335.975 335.974" enable-background="new 0 0 335.975 335.974" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g style="" fill="currentColor">
                        <path fill="currentColor"
                            d="M167.987,0C75.21,0,0,75.21,0,167.987c0,92.777,75.21,167.987,167.987,167.987   s167.987-75.21,167.987-167.987C335.975,75.21,260.765,0,167.987,0z M250.414,172.08c0,7.954-6.451,14.404-14.405,14.404h-49.524   v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523   c-7.956,0-14.406-6.45-14.406-14.404v-8.184c0-7.955,6.45-14.405,14.406-14.405h44.523V99.966c0-7.956,6.451-14.404,14.405-14.404   h8.184c7.954,0,14.405,6.448,14.405,14.404v49.524h49.524c7.954,0,14.405,6.451,14.405,14.405V172.08z"
                            style=""></path>
                        <g style="" fill="currentColor">
                            <path
                                d="M93.348,180.57l-0.014,0.003l0.098,0.109C93.404,180.645,93.376,180.608,93.348,180.57z"
                                style="" fill="currentColor"></path>
                            <path
                                d="M245.673,153.215l-0.02,0.003c2.917,2.636,4.761,6.437,4.761,10.677v8.184c0,7.954-6.451,14.404-14.405,14.404h-49.524    v49.524c0,7.955-6.451,14.405-14.405,14.405h-8.184c-7.954,0-14.405-6.45-14.405-14.405v-49.524h-44.523    c-3.798,0-7.243-1.481-9.817-3.884l128.786,143.818c47.828-16.89,85.715-54.817,102.55-102.672L245.673,153.215z"
                                style="" fill="currentColor"></path>
                        </g>
                    </g>
                </svg>
                <p>No pain and no fear of the dentist!</p>
            </li>
        </ul>
        <button class="orange-button">Leave a Mention</button>
    </div>
    <div class="testimonials__carusel">
        <div>
            <article class="testimonials__carusel-slide">
                <img width="100" src="img/photo-lucy-brandstone.jpg" alt="dark hair woman">
                <h5>Lucy Brandstone</h5>
                <h6>Emergency Dental Care</h6>
                <p class="text-gray-slant">"Recently I had a terrible toothache and headed to this clinic. The dentist
                    took
                    the time to explain my
                    options and gave me the best advice for my situation. He was also very gentle!" <span>12 April
                        2023</span></p>
            </article>
            <article class="testimonials__carusel-slide">
                <img width="100" src="img/photo-sandy_smith.jpg" alt="dark hair woman in glases">
                <h5>Sandy Smith</h5>
                <h6>Teeth Whitening</h6>
                <p class="text-gray-slant">
                    "I recently had my teeth
                    whitened at this clinic and I'm so pleased with the results! The procedure was quick and
                    easy and I'm amazed at how much brighter and whiter my teeth look."<span>24 May 2022</span></p>
            </article>
            <article class="testimonials__carusel-slide">
                <img width="100" src="/img/photo-jack_drawson.jpg" alt="boy is smile">
                <h5>Jack Drawson</h5>
                <h6>Teeth Whitening</h6>
                <p class="text-gray-slant">
                    "It was my first visit to Pearl Dental and I liked it so much! The staff at the clinic were so
                    friendly and helpful, and they answered all my questions with patience and
                    professionalism."<span>14 September 2022</span>
                </p>
            </article>
        </div>
        <div class="testimonials__carusel-nav">
            <button class="testimonials__button--left"><svg class="arrow-svg_1j4" viewBox="0 0 30 30">
                    <defs>
                        <path
                            d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                            id="a-1687956307014"></path>
                    </defs>
                    <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1687956307014"></use>
                </svg></button>
            <button class="testimonials__button--right"><svg class="arrow-svg_1j4" viewBox="0 0 30 30">
                    <defs>
                        <path
                            d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                            id="a-1687956307014"></path>
                    </defs>
                    <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1687956307014"></use>
                </svg></button>
        </div>
    </div>
    <div class="testimonials__logo">
        <div>
            <img src="img/logo-doctor.svg" alt="doctor">
            <p>
                <span>2.455</span>
                Happy Patients Yearly
            </p>
        </div>
        <div>
            <img src="/img/logo-tooth2016.svg" alt="tooth">
            <p>
                <span>2016</span>
                Clinic of the Year
            </p>
        </div>
        <div>
            <img src="/img/logo-dentist-chair.svg" alt="dentist chair">
            <p>
                <span>50 +</span>
                Dental Services
            </p>
        </div>
        <div>
            <img src="/img/logo-dental-reviews.svg" alt="folder with tooth">
            <p>
                <span>1500+</span>
                Positive Reviews
            </p>
        </div>
    </div>

</div>